h1
{
    color: #07a0c3;
}
header a, header a:hover, header a:visited, header a:active
{
    color:#07a0c3;
    text-decoration: none;
    font-weight: 6em;
}
body, .modal
{
    background: #f0c808;
    color: #086788;
}
nav{
    /* background: #07a0c3; */
    background:  linear-gradient(to left, #055769, #07a0c3, #055769)
}